body {
  background-image: url("https://imgs.search.brave.com/qiANxc-3WFX89eUGOHuOjrIdYyj0waYvTN1ONA7X1xQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9lbGVj/dHJpY25lb24uY29t/Lm14L2Nkbi9zaG9w/L3Byb2R1Y3RzL0lN/R18zNzExXzcwMHg3/MDAucG5nP3Y9MTY4/MTkzMDQ0NA");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;  
}
nav {
  display: flex;
  position:absolute;
  top: 5%;
  right: 0;
  align-items: center;
  color: rgb(21, 0, 255);
  font-size: 20px;  
}
.imge-conteiner{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
section {
  display: flex;
  gap: 20px;
}
td, th {
  
    color: rgb(0, 255, 38);
    background-color: blueviolet;
    font-size: 30px;
    border:  2px, double red;
    font-family: 'Gochi Hand', cursive;
  }
button:hover {
  filter: drop-shadow(0 1em 1em #646cffaa);
}
input:hover {
  filter: drop-shadow(1em 0 1em #61dafbaa);
}
input, label {
  margin: 0px 15px 0px 15px;
}
.table-container {
  display: block;
  position: relative; /* Cambia a posición relativa */
  top: 150px; /* Mueve el elemento 20px hacia abajo */
  left: 200px; /* Mueve el elemento 50px hacia la derecha */
}
 
